- provide(:bg_title, "login or create an account")

.main_bg
  .wrap
    .main
      .login_left
        %h3 login customers
        %p if you have any account with us, please log in.
        / start registration
        .registration
          /
            [if IE]
            < link rel='stylesheet' type='text/css' href='ie.css'/>
            [endif]
          /
            [if lt IE 7]>
            < link rel='stylesheet' type='text/css' href='ie6.css'/>
            <! [endif]
          :javascript
            (function() {

                  // Create input element for testing
                  var inputs = document.createElement('input');

                  // Create the supports object
                  var supports = {};

                  supports.autofocus   = 'autofocus' in inputs;
                  supports.required    = 'required' in inputs;
                  supports.placeholder = 'placeholder' in inputs;

                  // Fallback for autofocus attribute
                  if(!supports.autofocus) {

                  }

                  // Fallback for required attribute
                  if(!supports.required) {

                  }

                  // Fallback for placeholder attribute
                  if(!supports.placeholder) {

                  }

                  // Change text inside send button on submit
                  var send = document.getElementById('register-submit');
                  if(send) {
                    send.onclick = function () {
                      this.innerHTML = '...Sending';
                    }
                  }

                })();
          .registration_left
            .registration_form
              / Form
              = form_for(:session, url: login_path, html: {id: "registration_form"}) do |f|
                %div
                  %label
                    = f.text_field :email, tabindex: "3", placeholder: "Email", required: "", type: "email"
                %div
                  %label
                    = f.password_field :password, tabindex: "4", placeholder: "Password", required: "", type: "password"
                %div
                  = f.submit "Login", id: "register-submit"
                .forget
                  %a{:href => "#"} forgot your password
        / end registration
      .login_left
        %h3 register new customers
        %p By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping address, view and track your orders in your accoung and more.
        .registration_left
          .registration_form
            / Form
            = form_for(@user, html: {id: "registration_form"}) do |f|
              = render "shared/error_message", object: f.object
              %div
                %label
                  = f.text_field :name, tabindex: "1", placeholder: "Name", required: "", type: "text"
              %div
                %label
                  = f.text_field :email, tabindex: "2", placeholder: "Email", required: "", type: "email"
              %div
                %label
                  = f.password_field :password, tabindex: "3", placeholder: "Password", required: "", type: "password"
              %div
                %label
                  = f.password_field :password_confirmation, tabindex: "4", placeholder: "Retype password", required: "", type: "password"

              %h3 Optional
              %div
                %label
                  = f.password_field :addr_one, tabindex: "5", placeholder: "Address one", type: "text"
              %div
                %label
                  = f.password_field :addr_two, tabindex: "6", placeholder: "Address two", type: "text"
              %div
                %label
                  = f.password_field :city, tabindex: "7", placeholder: "City", type: "text"
              %div
                %label
                  = f.password_field :country, tabindex: "8", placeholder: "Country", type: "text"
              %div
                %label
                  = f.password_field :postcode, tabindex: "9", placeholder: "Postcode", type: "text"
              %div
                = f.submit "create an account", id: "register-submit"
            / /Form
      .clear
