- provide(:bg_title, "Account")

- content_for :head do
  = stylesheet_link_tag "users"

.main_bg
  .wrap
    .main
      .project
        .cont.span_2_of_3
          .blog
            .blogsidebar.span_1_of_blog
              %ul.blog-list
                %li
                  Posted on
                  %br>/
                  January 20, 2014
                %li
                  Tags
                  %br/
                  = succeed "\u{a0}" do
                    %a{:href => "#"} Website
                  %a{:href => "#"} Design
                %li
                  Comments
                  %br/
                  %a{:href => "#"} 8
            .cont.span_2_of_blog
              %p.para Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              %p.para Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            .clear
          .about-left
            %h3
              %a{:href => "#"} Payments
          .blog
            - current_user.payments.each do |payment|
              .blogsidebar.span_1_of_blog
                %ul.blog-list
                  %li
                    ID
                    %br>/
                    = payment.id
                  %li
                    Posted on
                    %br>/
                    %a{:href => "#"}= "#{time_ago_in_words(payment.created_at)} ago"
                  %li
                    Status
                    %br/
                    %a{:href => "#"}= payment.status.name.upcase
                  %li
                    Amount
                    %br/
                    %a{:href => "#"}= "£#{payment.amount}"
              .cont.span_2_of_blog
                %table.table.table-striped.table-hover
                  %thead
                    %tr
                      %th Product
                      %th Qty
                      %th Price
                      %th Line Total
                  %tbody
                    - payment.items.each do |item|
                      %tr
                        %td= item.product.name
                        %td= item.qty
                        %td= item.price
                        %td= item.total
              .clear
              %hr

        .rsidebar.span_1_of_3
          %ul.sidebar
            %h3 Account
            %li
              Name:
              = current_user.name
            %li
              Email:
              = current_user.email

          .archive
            %h3 Address
            %ul.sidebar
              %li
                Address one:
                = current_user.addr_one
              %li
                Address two:
                = current_user.addr_two
              %li
                City:
                = current_user.city
              %li
                Country:
                = current_user.country
              %li
                Postcode:
                = current_user.postcode
        .clear
